.Menu {
   position: fixed;
   margin: 0px 0px 10px 0px;
   width:100%;
   background-color:#2d4097;
   padding:.1em;
   top:0px;
   left:0px;
   color:#ffffffff;
}

.Menu h1 {
   text-align:center;
   margin:0px;
}

.Menu canvas {
   float:right;
   margin:.5em;
}

.icon {
   display:block;
   margin: 0px 1em;
   height:2.5em;
   float: left;
}

.mainPage{
   margin-top:5em;
   right:0px;
   top:0px;
   width:100%;

}

.button {
   display: inline-block;
   background-color: #40b5bc;
   border-radius: 1em;
   height: 2em;
   width: 35%;
   margin: 0em 1em;
   padding: .5em 0em 0em 0em;
   text-align: center;
   vertical-align: middle;
}

body {
   background-color:#506149b7;
   color:#ffffff;
}